@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto+Condensed:wght@700&display=swap');

body {
  color: #151E12;
  margin: 30px 50px;
  line-height: 1.4;
  padding: 0 100px;
}

nav>ul {
  font-family: 'Roboto Condensed',
    sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

nav>ul>li>a {
  padding: 0 50px;
  text-decoration: none;
}

nav>ul>li>a:hover {
  color: #7E2D00;
}

.logo {
  font-size: 4rem;
  margin-right: auto;
  padding: 0;
}


.logo>a {
  text-decoration: none;
}

.logo>a:hover {
  color: #7E2D00;
}


.headerImage {
  background-image: url("images/sportGroup1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  height: 80vh;
}

.headerImage>h3 {
  margin-bottom: 0;
  font-family: 'Montserrat',
    sans-serif;
  font-size: 2rem;
}

/*About section*/

.about {
  font-size: 1.5rem;
  line-height: 2.0;
  padding-bottom: 40px;
}


/*Pricing section*/

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;

}

.gallery>img {
  height: 240px;
  width: 240px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.gallery>img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


/*Footer section*/
.footContact {
  font-weight: 400;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  margin: auto 0;
  line-height: 1.4;
}

.contacts {
  padding: 0 50px;
  display: flex;
}

.contacts>p {
  padding: 25px;
}

/*  background-color: #D3F4FF;*/